<form [formGroup]="form" (ngSubmit)="addRecipe()">
  <div>
    <label for="title">Title</label>
    <input name="title" placeholder="Enter a title"
      formControlName="title" size="50">
  </div>
  <div>
    <label for="image">Image URL</label>
    <input type="url" name="image" size="50" formControlName="image">
  </div>
  <div>
    <label for="instruction">Instructions</label>
    <textarea rows="5" cols="47" formControlName="instruction"></textarea>
  </div>
  <div>
    <div class="no-margin">
      <label class="except" for="ingredients">Ingredients</label>
      <button class="except" type="button" (click)="addIngredient()">+</button>
    </div>
    <div class="no-margin" name="ingredients">
      <div *ngFor="let ingredientControl of ingredientsArray.controls; let i = index">
        <div class="no-margin">
          <input
            class="except" type="text" size="41"
            [formControl]="castToFormControl(ingredientControl)">
          <button class="except" type="button" (click)="removeIngredient(i)">x</button>
        </div>
      </div>
    </div>
  </div>
  <button class="except" type="button" routerLink="/">Back</button>
  <button class="except" type="submit" [disabled]="form.invalid">Add</button>
</form>
